/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: #F2F2F0;
  box-sizing: border-box; }

body {
  color: #2D2C2A;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-secondary {
  color: #2D2C2A;
  display: inline-block;
  font-size: 3rem;
  font-weight: 400; }

.heading-tertiary {
  color: #2D2C2A;
  display: inline-block;
  font-size: 2rem;
  font-weight: 400; }

.highlight-text {
  color: #FF6F61;
  font-weight: 600; }

a {
  text-decoration: none; }

@media (max-width: 600px) {
  .heading-secondary {
    font-size: 2.5rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-text-center {
  text-align: center; }

.logo {
  height: 7rem;
  width: 7rem; }

.row {
  margin: 0 auto;
  max-width: 114rem;
  /*
  ^ -> classes starting with this statement
  * -> classes contains this statement
*/ }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

.body {
  display: flex;
  flex-direction: column;
  height: 100%; }
  @media only screen and (min-width: 112.5em) {
    .body {
      flex-direction: row; } }
  .body .header .image {
    background: #12384F;
    min-height: 35rem;
    width: 100%; }
    @media only screen and (min-width: 112.5em) {
      .body .header .image {
        width: 70rem;
        height: 100vh; } }
  .body .section {
    margin: 3rem 0;
    padding: 0 4rem; }
    .body .section .logo {
      width: 5rem;
      height: 5rem; }
    .body .section .description {
      font-size: 1.4rem;
      text-align: center; }
    .body .section .contact-me {
      position: relative; }
      .body .section .contact-me .paragraph {
        font-size: 1.3rem; }
      .body .section .contact-me .social-links {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 30rem; }
        .body .section .contact-me .social-links [class^='link-'] {
          align-items: center;
          border-radius: 50%;
          color: #fff;
          cursor: pointer;
          display: flex;
          height: 4rem;
          justify-content: center;
          width: 4rem; }
        .body .section .contact-me .social-links .link-codesandbox {
          background: #040404; }
          .body .section .contact-me .social-links .link-codesandbox i {
            font-size: 2rem; }
          .body .section .contact-me .social-links .link-codesandbox:hover {
            background: #9d9d9d; }
            .body .section .contact-me .social-links .link-codesandbox:hover i {
              color: #040404; }
        .body .section .contact-me .social-links .link-linkedin {
          background: #2977c9; }
          .body .section .contact-me .social-links .link-linkedin:hover {
            background: #cadef4; }
            .body .section .contact-me .social-links .link-linkedin:hover i {
              color: #2977c9; }
        .body .section .contact-me .social-links .link-github {
          background: #000; }
          .body .section .contact-me .social-links .link-github:hover {
            background: #999999; }
            .body .section .contact-me .social-links .link-github:hover i {
              color: #000; }
        .body .section .contact-me .social-links .link-codewars {
          background: #bb432c; }
          .body .section .contact-me .social-links .link-codewars i {
            font-size: 2rem; }
          .body .section .contact-me .social-links .link-codewars:hover {
            background: #f1cac2; }
            .body .section .contact-me .social-links .link-codewars:hover i {
              color: #bb432c; }
        .body .section .contact-me .social-links .link-freecodecamp {
          background: #106E29; }
          .body .section .contact-me .social-links .link-freecodecamp:hover {
            background: #bbf5ca; }
            .body .section .contact-me .social-links .link-freecodecamp:hover i {
              color: #106E29; }
