/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: #fff;
  box-sizing: border-box; }

body {
  color: #2D2C2A;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: #2D2C2A;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 600; }

.heading-secondary {
  color: #2D2C2A;
  display: inline-block;
  font-size: 3rem;
  font-weight: 400; }

.heading-tertiary {
  color: #2D2C2A;
  display: inline-block;
  font-size: 2rem;
  font-weight: 400; }

.highlight-text {
  color: #FF6F61;
  font-weight: 600; }

a {
  text-decoration: none; }

@media (max-width: 600px) {
  .heading-secondary {
    font-size: 2.5rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-text-center {
  text-align: center; }

.logo {
  height: 7rem;
  width: 7rem; }

.row {
  margin: 0 auto;
  max-width: 114rem;
  /*
  ^ -> classes starting with this statement
  * -> classes contains this statement
*/ }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row--center {
    display: flex;
    justify-content: center; }
  .row--vertical-center {
    align-items: center;
    display: flex;
    flex-direction: column; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

.body {
  display: flex;
  flex-direction: column;
  height: 100%; }
  @media only screen and (min-width: 112.5em) {
    .body {
      flex-direction: row; } }
  .body .header .image {
    background-image: url("../../img/header.jpg");
    background-size: cover;
    min-height: 35rem;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center; }
    @media only screen and (max-width: 75em) {
      .body .header .image {
        margin-bottom: 3rem; } }
    @media only screen and (min-width: 112.5em) {
      .body .header .image {
        height: 100vh;
        width: 80rem; }
        .body .header .image, .body .header .image img {
          height: 100vh; } }
  .body .section {
    margin: 1rem 0;
    padding: 0 4rem; }
    .body .section .logo {
      height: 10rem;
      margin-bottom: 3rem;
      width: 10rem; }
    .body .section .description {
      font-size: 1.3rem;
      margin-top: 5rem; }
      .body .section .description p {
        margin-bottom: 2rem;
        text-align: center; }
    .body .section .contact-me {
      margin-bottom: 6rem; }
      .body .section .contact-me .heading-secondary {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 600; }
      .body .section .contact-me .social-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        flex-wrap: wrap; }
        @media only screen and (max-width: 56.25em) {
          .body .section .contact-me .social-links {
            width: 100%; }
            .body .section .contact-me .social-links .link {
              height: 4rem;
              width: 4rem; } }
        @media only screen and (max-width: 75em) {
          .body .section .contact-me .social-links {
            width: 40%; } }
        .body .section .contact-me .social-links .link {
          align-items: center;
          background: #FF6F61;
          border-radius: 50%;
          display: flex;
          height: 5rem;
          justify-content: center;
          width: 5rem; }
          .body .section .contact-me .social-links .link:hover {
            background: #ff5848; }
          .body .section .contact-me .social-links .link i {
            color: #fff;
            font-size: 2rem; }
  @media only screen and (min-width: 112.5em) {
    .body .content {
      margin-top: 20rem !important; } }
