// COLORS
$white: #fff;
$white-100: #F2F2F0;

$primary: #12384F;
$secondary: #CAECDB;
$tertiary: #FF6F61;

$grey: #2D2C2A;

// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;
