.row {
  @include clearfix();
  margin: 0 auto;
  max-width: $grid-width;

  &--center {
    display: flex;
    justify-content: center;
  }

  &--vertical-center {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  /*
  ^ -> classes starting with this statement
  * -> classes contains this statement
*/
  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
