.body {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include respond(desktop) {
    flex-direction: row;
  }

  .header {
    .image {
      background: #12384F;
      min-height: 35rem;
      width: 100%;

      @include respond(desktop) {
        width: 70rem;
        height: 100vh;
      }
    }
  }

  .section {
    margin: 3rem 0;
    padding: 0 4rem;

    .logo {
      width: 5rem;
      height: 5rem;
    }

    .about-me {
      .description {
        font-size: 1.9rem;
        text-align: center;
      }
    }


    .contact-me {
      position: relative;

      .paragraph {
        font-size: 1.3rem;
      }

      .social-links {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 30rem;

        [class^='link-'] {
          align-items: center;
          border-radius: 50%;
          color: $white;
          cursor: pointer;
          display: flex;
          height: 4rem;
          justify-content: center;
          width: 4rem;
        }

        .link-codesandbox {
          background: $sandbox-color;

          i {
            font-size: 2rem;
          }

          &:hover {
            background: lighten($sandbox-color, 60%);

            i {
              color: $sandbox-color;
            }
          }
        }

        .link-linkedin {
          background: $linkedin-color;

          &:hover {
            background: lighten($linkedin-color, 40%);

            i {
              color: $linkedin-color;
            }
          }
        }

        .link-github {
          background: $github-color;

          &:hover {
            background: lighten($github-color, 60%);

            i {
              color: $github-color;
            }
          }
        }

        .link-codewars {
          background: $codewars-color;

          i {
            font-size: 2rem;
          }

          &:hover {
            background: lighten($codewars-color, 40%);

            i {
              color: $codewars-color;
            }
          }
        }

        .link-freecodecamp {
          background: $freecodecamp-color;

          &:hover {
            background: lighten($freecodecamp-color, 60%);

            i {
              color: $freecodecamp-color;
            }
          }
        }
      }
    }
  }
}
